# Node
node_modules
bower_components

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Upload
/public/dist/u/*
/public/dist/u/.uploadfolder

# Thumb
/public/dist/t/*
/public/dist/t/.uploadfolder
