<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/css/style.css' />
</head>
<body>

  <h1 style="text-align: center; width 100%;">Overview</h1>


  <main>

  {{#images}}
  <div class="image">
    <a href="/{{ name }}">
      <img src="/t/{{ name }}" alt=";)">
    </a>
  </div>
  {{/images}}

  </main>

  <script src="/js/socket.io-1.1.0.js"></script>
  <script src="/js/overview.js"></script>

</body>
</html>
