body{
  font-family: 'Open Sans', 'sans-serif';
  background: #eaeaea;
  margin: 0;
  padding: 0;
}

h1#message{
  margin: 80px auto 40px auto;
  font-size: 80px;
  text-align: center;
}
ul#uploadList{
  display: none;
  width: 600px;
  margin: auto;
}
ul#uploadList li{
  text-align: center;
  font-size: 42px;
  line-height: 50px;
  list-style: none;
}
ul#uploadList li a{
  color: #707070;
  text-decoration: none;
}
ul#uploadList li a:hover{
  text-decoration: underline;
}
ul#uploadList li span{
  font-size: 18px;
  color: #666666;
}

#dropMe{
  position: fixed;
  height: 100%;
  width: 100%;

  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

img {
  display: block;
  margin: 25px auto;
  max-width: 70%;
  box-shadow: 0px 0px 10px 0px #999;
}

#customUpload {
  margin: auto;
  position: fixed;
  width: 100%;
  bottom: 100px;
}

#customUpload small {
  margin: 5px 0 0 0;
  display: block;
  width: 100%;
  text-align: center;
  font-style: italic
}

#uploadButton {
  margin: auto;
  background: #909090;
  height: 40px;
  width: 140px;
}

#uploadButton p {
  height: 40px;
  width: 80%;
  text-align: center;
  line-height: 40px;
  margin: 0 0 -40px 0;
  padding: 0 0 0 0;
  color: #eaeaea;
}

#uploadButton input {
  width: 80%;
  height: inherit;
  opacity: 0;
}

#uploadButton input:hover {
  cursor: pointer;
}

#uploadButton button {
  float: right;
  border: none;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 40px;
  background: #d0d0d0;
}

#uploadButton button:hover {
  cursor: pointer;
}

#uploadButton button:focus {
  outline: 0;
}

.invalid{
  text-decoration: line-through;
}

.valid{
  color: #48d278 !important;
}
